body
{
    text-align: center;
    color: red;
    font-family: 'arial';
}

#container 
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid;
    margin: 0 auto;
}
#cabecera
{
    background-color: cadetblue;
    color: black;
    padding: 1em;
    text-align: left;
    border: 1px solid;
    margin: 0 auto;
    box-shadow: 6px 2px 25px 0px rgba(0,0,0,0.75);
}
